allow init tmpfs:lnk_file create;
allow init mnt_media_rw_file:dir mounton;
allow init block_device:lnk_file setattr;
allow init socket_device:sock_file { create setattr };
allow toolbox boot_block_device:blk_file setattr;
allow toolbox toolbox:capability fsetid;
allow toolbox recovery_block_device:blk_file setattr;
allow toolbox block_device:blk_file setattr;
allow toolbox proinfo_device:blk_file setattr;
allow toolbox frp_block_device:blk_file setattr;
allow sysinit rootfs:lnk_file getattr;
allow conn_launcher rootfs:lnk_file getattr;
allow conn_launcher wmt_prop:file { read open getattr };
allow conn_launcher property_socket:sock_file write;
allow conn_launcher init:unix_stream_socket connectto;
allow ccci_fsd rootfs:lnk_file getattr;
allow ccci_fsd sysfs:file { read open };
allow ccci_fsd ccci_cfg_file:file getattr;
allow ccci_fsd nvram_prop:file { read open getattr };
allow wmt_loader rootfs:lnk_file getattr;
allow wmt_loader wmt_prop:file { read open getattr };
allow terservice rootfs:lnk_file getattr;
allow ccci_mdinit rootfs:lnk_file getattr;
allow ccci_mdinit property_socket:sock_file write;
allow ccci_mdinit init:unix_stream_socket connectto;
allow wifi2agps rootfs:lnk_file getattr;
allow wifi2agps proc_net:file { read open getattr };
allow nvram_daemon rootfs:lnk_file getattr;
allow agpsd rootfs:lnk_file getattr;
allow mnld rootfs:lnk_file getattr;
allow mnld wmt_prop:file { read open getattr };
allow mnld nvram_prop:file read;
allow msensord rootfs:lnk_file getattr;
allow thermal_manager rootfs:lnk_file getattr;
allow cameraserver rootfs:lnk_file getattr;
allow audioserver rootfs:lnk_file getattr;
allow mediadrmserver rootfs:lnk_file getattr;
allow mediacodec rootfs:lnk_file getattr;
#allow logd block_device:blk_file { read write };
allow gsm0710muxd rootfs:lnk_file getattr;
allow gsm0710muxd property_socket:sock_file write;
allow gsm0710muxd init:unix_stream_socket connectto;
allow gsm0710muxd sysfs:file { read open };
allow ril-daemon-mtk rootfs:lnk_file getattr;
allow ril-daemon-mtk property_socket:sock_file write;
allow ril-daemon-mtk init:unix_stream_socket connectto;
allow ril-daemon-mtk proc:file { read open ioctl };
allow ril-daemon-mtk nvram_prop:file { read open getattr };
allow ril-daemon-mtk sysfs:file { read open };
allow ril-daemon-mtk ril_mux_report_case_prop:file { read open getattr };

allow init tmpfs:lnk_file create;
allow init mnt_media_rw_file:dir mounton;
allow init block_device:lnk_file setattr;
allow init socket_device:sock_file { create setattr unlink };
allow init wmtWifi_device:chr_file write;
allow toolbox boot_block_device:blk_file setattr;
allow toolbox toolbox:capability { fsetid dac_override };
allow toolbox recovery_block_device:blk_file setattr;
allow toolbox block_device:blk_file setattr;
allow toolbox proinfo_device:blk_file setattr;
allow toolbox frp_block_device:blk_file setattr;
allow sysinit rootfs:lnk_file getattr;
allow ccci_fsd rootfs:lnk_file getattr;
allow ccci_fsd sysfs:file { read open };
allow ccci_fsd mtk_md_prop:file { read open getattr };
allow conn_launcher rootfs:lnk_file getattr;
allow conn_launcher wmt_prop:file { read open getattr };
allow ccci_mdinit rootfs:lnk_file getattr;
allow ccci_mdinit property_socket:sock_file write;
allow ccci_mdinit init:unix_stream_socket connectto;
allow ccci_mdinit sysfs:file { read open };
allow ccci_mdinit nvram_prop:file { read open };
allow ccci_mdinit kmsg_device:chr_file { write open };
allow terservice rootfs:lnk_file getattr;
allow wmt_loader rootfs:lnk_file getattr;
allow wmt_loader wmt_prop:file { read open getattr };
allow wifi2agps rootfs:lnk_file getattr;
allow nvram_daemon rootfs:lnk_file getattr;
allow nvram_daemon rootfs:dir { read open };
allow nvram_daemon rootfs:file { getattr read open };
allow nvram_daemon toolbox_exec:file { getattr execute read open execute_no_trans };
allow nvram_daemon shell_exec:file getattr;
allow mnld rootfs:lnk_file getattr;
allow mnld kmsg_device:chr_file { write open };
allow mnld sysfs:file { read open };
allow msensord rootfs:lnk_file getattr;
allow agpsd rootfs:lnk_file getattr;
allow audioserver rootfs:lnk_file getattr;
allow audioserver nvram_prop:file { read open getattr };
allow audioserver nvdata_file:dir search;
allow audioserver nvdata_file:file { read open getattr };
allow audioserver kmsg_device:chr_file { write open };
allow audioserver sysfs:file { read open };
allow audioserver wmt_prop:file { read open getattr };
allow audioserver property_socket:sock_file write;
allow audioserver init:unix_stream_socket connectto;
allow audioserver audiohal_prop:file { read open getattr };
allow audioserver ccci_device:chr_file { read write open ioctl };
# allow audioserver debugfs:file { write open };
allow cameraserver rootfs:lnk_file getattr;
# allow cameraserver media_rw_data_file:file { read open getattr execute };
allow cameraserver nvram_prop:file { read open };
allow thermal_manager rootfs:lnk_file getattr;
allow mediadrmserver rootfs:lnk_file getattr;
allow mediacodec rootfs:lnk_file getattr;
allow mediacodec proc:file { read open ioctl getattr };
allow mediacodec proc_meminfo:file { read open getattr };
allow mediacodec sysfs:file { read open };
# allow surfaceflinger media_rw_data_file:file { read open getattr execute };
allow bootanim rootfs:lnk_file getattr;
allow gsm0710muxd property_socket:sock_file write;
allow gsm0710muxd init:unix_stream_socket connectto;
allow gsm0710muxd sysfs:file { read open };
# allow zygote media_rw_data_file:file { read open getattr execute };
# allow zygote debugfs:file { getattr write open };
allow ril-daemon-mtk rootfs:lnk_file getattr;
allow ril-daemon-mtk property_socket:sock_file write;
allow ril-daemon-mtk init:unix_stream_socket connectto;
allow ril-daemon-mtk proc:file { read open };
allow system_server debugfs:dir { read open };
allow system_server unlabeled:file unlink;

allow toolbox nvram_device:blk_file setattr;
allow mobile_log_d rootfs:lnk_file getattr;
allow mobile_log_d toolbox_exec:file { getattr execute read open execute_no_trans };
allow mobile_log_d sysfs:file { read open };
allow pq rootfs:lnk_file getattr;
allow pq proc:file { read open ioctl };
allow pq pq_conf_prop:file { read open getattr };
allow pq property_socket:sock_file write;
allow pq init:unix_stream_socket connectto;
allow netdiag rootfs:lnk_file getattr;
allow netdiag proc_net:file { read open getattr };
#allow logd block_device:blk_file { read write open };
allow ccci_mdinit nvram_prop:file getattr;
allow wmt_loader property_socket:sock_file write;
allow wmt_loader init:unix_stream_socket connectto;
allow conn_launcher system_file:dir { read open };
#allow surfaceflinger debugfs:file { write open };
allow mnld nvram_prop:file { open getattr };
allow nvram_daemon kmsg_device:chr_file { write open };
allow nvram_daemon nvram_prop:file { read open getattr };
allow nvram_daemon property_socket:sock_file write;
allow nvram_daemon init:unix_stream_socket connectto;
allow cameraserver nvram_prop:file getattr;
allow cameraserver nvdata_file:dir search;
allow cameraserver nvdata_file:file { read open getattr };
allow cameraserver kmsg_device:chr_file { write open };
allow cameraserver sysfs:file { read open write };
#allow cameraserver device:chr_file { read open ioctl };
allow cameraserver camera_device:chr_file { read open ioctl write };
allow cameraserver devmap_device:chr_file { read open ioctl };
allow cameraserver proc:file { read open ioctl };
allow cameraserver proc_meminfo:file { read open getattr };
allow cameraserver system_server:unix_stream_socket { read write };
#allow cameraserver debugfs:file { write open };
#allow zygote debugfs:file { write open getattr };
#allow bootanim debugfs:file { write open };
#allow audioserver debugfs:file { write open };
allow bluetooth wmt_prop:file { read open getattr };
allow bluetooth nvram_prop:file { read open getattr };
allow bluetooth kmsg_device:chr_file { write open };
#allow mediacodec debugfs:file { write open };
allow mediacodec camera_device:chr_file { read open ioctl };
allow mediacodec Vcodec_device:chr_file { read write open ioctl };
allow mediacodec sysfs:file write;
#allow mediaserver debugfs:file { write open };

