allow servicemanager fpserver:dir { search };
allow servicemanager fpserver:file { open read write };
allow servicemanager fpserver:process { getattr };